@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Raleway:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #24252a;
}

/* pre-order page */

.background {
  width: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1df91d;
}

.navbar li {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  list-style: none;
  padding: 30px 20px;
  color: black;
}

/* album details */

section {
  display: flex;
  justify-content: center;
  margin: 25px;
}

.details {
  padding: 25px 15px;
  border-bottom: 3px solid #1df91d;
}

.details h2 {
  color: #1df91d;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

/* imgs */

.album {
  display: flex;
  justify-content: center;
}

.ver1 img {
  display: inline-block;
  float: left;
  margin-right: 10px;
  height: 300px;
}

.ver2 img {
  display: inline-block;
  float: right;
  height: 300px;
}

/* descr */

.descr {
  margin-top: 30px;
}

.descr h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  color: #1df91d;
}

/* links */

a {
  color: inherit;
  transition: 0.1s;
}

a:hover {
  border: 3px solid black;
  padding: 8px;
  border-radius: 10px;
  font-weight: 600;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
