@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Raleway:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* cover page */

.cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(imgs/mino_cover.png);
  width: 100%;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar li {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  list-style: none;
  padding: 30px 20px;
  color: #1df91d;
}

/* cover content */

.content {
  width: 100%;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
}

.content h1 {
  font-family: "Fugaz One", cursive;
  color: #1df91d;
  font-size: 7em;
}

.content p {
  width: 55%;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  color: #1df91d;
  display: inline-block;
}

/* links */

a {
  color: inherit;
  transition: 0.1s;
}

a:hover {
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  padding: 8px;
  font-weight: 600;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
